[Desktop Entry]
Version=1.0
Name=Galactrum
Comment=Connect to the Galactrum P2P Network
Comment[de]=Verbinde mit dem Galactrum peer-to-peer Netzwerk
Comment[fr]=Galactrum, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Galactrum, eşten eşe kriptografik sanal para birimi
Exec=galactrum-qt %u
Terminal=false
Type=Application
Icon=galactrum128
MimeType=x-scheme-handler/galactrum;
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=Galactrum-qt
