policy_module(galactrum, 1.100.1)

########################################
#
# Declarations
#

type galactrum_t;
type galactrum_exec_t;
init_daemon_domain(galactrum_t, galactrum_exec_t)

permissive galactrum_t;

type galactrum_initrc_exec_t;
init_script_file(galactrum_initrc_exec_t)

type galactrum_conf_t;
files_type(galactrum_conf_t)

type galactrum_var_lib_t;
files_type(galactrum_var_lib_t)

type galactrum_var_run_t;
files_type(galactrum_var_run_t)

type galactrum_port_t;
corenet_port(galactrum_port_t)

########################################
#
# galactrum local policy
#
allow galactrum_t self:process { fork };

allow galactrum_t self:fifo_file rw_fifo_file_perms;
allow galactrum_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(galactrum_t, galactrum_conf_t, galactrum_conf_t)
manage_files_pattern(galactrum_t, galactrum_conf_t, galactrum_conf_t)

manage_dirs_pattern(galactrum_t, galactrum_var_lib_t, galactrum_var_lib_t)
manage_files_pattern(galactrum_t, galactrum_var_lib_t, galactrum_var_lib_t)
files_var_lib_filetrans(galactrum_t, galactrum_var_lib_t, { dir file })

manage_dirs_pattern(galactrum_t, galactrum_var_run_t, galactrum_var_run_t)
manage_files_pattern(galactrum_t, galactrum_var_run_t, galactrum_var_run_t)

sysnet_dns_name_resolve(galactrum_t)
corenet_all_recvfrom_unlabeled(galactrum_t)

allow galactrum_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(galactrum_t)
corenet_tcp_sendrecv_generic_node(galactrum_t)
corenet_tcp_sendrecv_all_ports(galactrum_t)
corenet_tcp_bind_generic_node(galactrum_t)

gen_require(`
    type galactrum_port_t;
')
allow galactrum_t galactrum_port_t:tcp_socket name_bind;

gen_require(`
    type galactrum_port_t;
')
allow galactrum_t galactrum_port_t:tcp_socket name_connect;

domain_use_interactive_fds(galactrum_t)

files_read_etc_files(galactrum_t)

miscfiles_read_localization(galactrum_t)

sysnet_dns_name_resolve(galactrum_t)

allow galactrum_t galactrum_exec_t:file execute_no_trans;
allow galactrum_t self:process setsched;
corecmd_exec_ls(galactrum_t)
corenet_tcp_connect_http_port(galactrum_t)
dev_read_urand(galactrum_t)
fs_getattr_xattr_fs(galactrum_t)
kernel_read_system_state(galactrum_t)
