
## <summary>policy for galactrum</summary>


########################################
## <summary>
##	Transition to galactrum.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`galactrum_domtrans',`
	gen_require(`
		type galactrum_t, galactrum_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, galactrum_exec_t, galactrum_t)
')


########################################
## <summary>
##	Execute galactrum server in the galactrum domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`galactrum_initrc_domtrans',`
	gen_require(`
		type galactrum_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, galactrum_initrc_exec_t)
')


########################################
## <summary>
##	Search galactrum lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`galactrum_search_lib',`
	gen_require(`
		type galactrum_var_lib_t;
	')

	allow $1 galactrum_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read galactrum lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`galactrum_read_lib_files',`
	gen_require(`
		type galactrum_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, galactrum_var_lib_t, galactrum_var_lib_t)
')

########################################
## <summary>
##	Manage galactrum lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`galactrum_manage_lib_files',`
	gen_require(`
		type galactrum_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, galactrum_var_lib_t, galactrum_var_lib_t)
')

########################################
## <summary>
##	Manage galactrum lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`galactrum_manage_lib_dirs',`
	gen_require(`
		type galactrum_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, galactrum_var_lib_t, galactrum_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a galactrum environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`galactrum_admin',`
	gen_require(`
		type galactrum_t;
		type galactrum_initrc_exec_t;
		type galactrum_var_lib_t;
	')

	allow $1 galactrum_t:process { ptrace signal_perms };
	ps_process_pattern($1, galactrum_t)

	galactrum_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 galactrum_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, galactrum_var_lib_t)

')

